@font-face {
  font-family: SFPro-Rounded-Bold;
  src: url("../font/sf-pro/SF-Pro-Rounded-Bold.otf");
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: SFPro-Rounded-Bold !important;
}
h5, .h5 {
  font-size: 1.5rem !important;
}
h4, .h4 {
  font-size: 1.25rem !important;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.center {
  text-align: center
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 120;
  font-family: SFPro-Rounded-Bold !important;
}
.navbar {
  background-color: rgb(17, 17, 17);
  
}
.col-lg-6 {
	margin-bottom: 7%;
}

body { 
  padding-top: 0px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  padding-bottom: 3.5vw;
}

html, body {
  color: #f2f2f2;
  background-color: rgb(22, 22, 22);
  font-family: SFPro-Rounded-Bold;
  overflow-x: hidden;
}

li {
  margin: 2px 0;
}

.card {
  color: #f2f2f2;
  background-color: rgb(22, 22, 22);
  border: 1px solid #f2f2f2;
}

hr {
  border-top: 1px solid #f2f2f2;
}
div.center {
  text-align: center;
}
div.codeblock {
  background-color: rgb(41, 41, 41);
  padding: 5px !important;
  border-radius: 5px !important;
}
code {
  padding: 1px;
  background: #272c36;
  border: 1px solid lightslategrey;
  border-radius: 4px;
  color: rgb(221, 225, 230);
  padding: 2px;
}
.alert code {
  word-wrap: normal !important;
  width: 100%;
  background: rgb(41, 41, 41) !important;
  border: none;
  padding: 5px !important;
  border-radius: 5px !important;
  
  line-height: 100%;
}
.content-table {
  padding: 5px;
  color: #f2f2f2;
  background: #272c36;
  border: 1px solid rgb(22, 22, 22);
  border-radius: 4px;
  font-family: SFPro-Rounded-Bold !important;
}

.content-table-title {
  font-family: SFPro-Rounded-Bold !important;
  font-size: 150%;
}

.content-table-hr {
  border-top: 1px solid rgb(22, 22, 22);
}

.a-table {
  color: #b8d2df;
  text-decoration: underline;
}

.a-table:hover {
  color: #b8d2df;
  text-decoration: initial;
}

.a-table:visited {
  color: #8a9ea7;
  text-decoration: underline;
}

.a-table-section {
  display: block;
  padding-left: 15px;
}


.h1-page-title {
  display: block;
  font-size: 3.5em;
}

.info-box {
  margin: 2em 0;
  padding: 1em;
  background-color: #485e7b; 
  font-size: 1em !important;
  font-family: SFPro-Rounded-Bold !important;
  text-indent: initial;
  box-shadow: 0 2px 2px rgba(94,129,172,0.25) !important;
  color: #D8DEE9 !important;
  border-radius: 4px;
}



img:hover {
  color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1);
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari and Chrome */
}
div#jailbreak-methods a, div#jailbreak-methods a:hover, div#other-guides a, div#others a:hover, div#legacy-guides a, div#legacy-guides a:hover{
  color: white;
}
div#olli span#normal {
  display: inline;
}

div#olli:hover span#normal {
  display: none;
}

div#olli span#other {
  display: none;
}

div#olli:hover span#other {
  display: inline;
}
	.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.sidebar__right {
  margin-bottom: 1em;
  margin-top: 15%;
    position: -webkit-sticky !important;
      position: sticky !important;
      overflow-y: auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
.toc {
  font-family: SFPro-Rounded-Bold;
  color: #7a8288;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #2E3440;
  border: 1px solid #585d66;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}
.toc .nav__title {
  color: #fff;
  font-size: 1em;
  background: #88C0D0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav__title {
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-family: SFPro-Rounded-Bold !important;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: 1.25rem;
}
nav ul {
  margin: 0;
  padding: 0;
}
p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.toc__menu>li:last-child a {
  border-bottom: none;
}
.toc__menu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #D8DEE9;
  font-size: .6875em;
  font-family: SFPro-Rounded-Bold !important;
  line-height: 1.5;
  border-bottom: 1px solid #585d66;
}
a:visited, a {
  color: #8a9ea7;
  text-decoration: none;
}
a:hover {
  color: #585d66;
  text-decoration: none;
}
nav a {
  text-decoration: none;
}


div.space {
  margin: 7%;
}
.wide {
 padding-left: 16% !important;
 padding-right: 16% !important;
}
.wider {
  padding-left: 26% !important;
  padding-right: 26% !important;
}

.alert {
  font-family: SFPro-Rounded-Bold;
  font-weight: bolder !important;
  font-size: 1em !important;
  padding: 1em;
  margin: 2em 0;
  text-indent: initial;
  border-radius: 20px;
  background-color: rgb(56, 56, 56);
  color: #fff !important;
  display: inline-block;
  transition: all 0.1s ease-in;
}
.guides {
  text-align: center !important;
}
h3, hr.short{
  margin-left: 7.5px;
}
@media (min-width: 926px) {
  .alert.guide {
    width: 30%;
  }
}
@media (max-width: 925px) {
  .alert.guide {
    width: 45%;
  }
}
.alert.guide {
  font-family: SFPro-Rounded-Bold;
  font-weight: bolder !important;
  font-size: 1em !important;
  padding: 1em;
  margin: 1em .35em; 
  width: auto;
  text-indent: initial;
  border-radius: 20px;
  background-color: rgb(56, 56, 56);
  color: #fff !important;
  
  display: inline-block;
  transition: all 0.1s ease-in;
}

.alert.guide.tbd,  .alert.guide.tbd:hover {
  background-color: rgba(56, 56, 56, 0.452) !important;
  transform: scale(1)
}
.alert.guide.tbd:active {
  transform: scale(0.99)
}
.alert.guide:hover {
	transform: scale(1.02)
}
.alert.guide:active {
  transform: scale(0.98)
}
.alert.guide h3 {
  
  margin-bottom: 15px;
  word-wrap: normal;
}
.alert.guide p {
  margin-bottom: 0;
}
.subalert {
  margin-left: 2%;
  color: #fff;
}
.subalert p {
  border-bottom: white 1px solid;
  padding-bottom: 15px;
}
.green {
  background-color: rgb(29, 189, 37);
}
.yellow {
  background-color: rgb(221, 169, 0);
  border: black 2px 2px 2px;
}
.red {
  background-color: #ff4444; 
}
.blue {
  background-color: #006eff;
}

.alert a {
  text-decoration: none;
}
.green a, .green a:visited {
  color: rgb(0, 71, 2) !important
}
.green a:hover {
  color: rgb(0, 124, 4) !important
}
.yellow a, .yellow a:visited {
  color: rgb(255, 230, 147) !important
}
.yellow a:hover {
  color: rgb(158, 143, 92) !important
}
.red a, .red a:visited {
  color: #ff9a9a !important
}
.red a:hover {
  color: #a56161 !important
}
.blue a, .blue a:visited {
  color: #95c3ff !important
}
.blue a:hover {
  color:  #6281aa !important
}
a.button {
  font-family: SFPro-Rounded-Bold;
  border-radius: 50px;
  font-weight: bold !important;
  padding: 0.75em 0.1em;
  font-size: 1em;
  outline: none !important;
  border: none !important;
  text-decoration: none;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15px;
  margin-right: 15px;
  white-space: pre;
  display: inline-block;
  text-indent: initial;
  color: rgb(218, 218, 218);
  background-color: rgb(56, 56, 56);
  transition: all 0.1s ease-in;
}
a.button:hover {
  transform: scale(1.02)
}
a.button:active {
  transform: scale(0.98)
}
a.button.gray, .a.button.gray:hover {
  transform: scale(1);
  background-color: rgb(32, 32, 32);
  color: rgb(54, 54, 54);
}
a.button.gray:active {
  transform: scale(0.99)
}

b, i, div, strong, em, blockquote, p, .dropdown-content, li, q, span, figure, img, h1, h2, header, input, a, tr, td, form, button, input[type="submit"], .btn, #goog-wm-sb, .highlight, .archive__item-teaser {
  -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  animation: slide-up 0.25s ease;
  transition: all .5s linear;
}


.displayTooSmall {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

table {
  margin-bottom: 1em;
  width: 95% !important;
  max-width: 95% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-family: SFPro-Rounded-Bold;
  font-size: .75em;
  border-collapse: collapse;
  border: 1px solid #bdc1c4 !important;
  text-align: center;
  orphans: 3;
  widows: 3;
  display: table;
  border-collapse: separate !important;
  border-spacing: 2px !important;
  border-color: grey !important;
}

@media (max-width: 568px) {
  .hide {
    display: none !important;
  }
}
@media (max-width: 400px) {
  .h1-page-title {
    font-size: 2.75em;
    margin-left: 5px;
  }
  .container-fluid {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (max-width: 1236px) and (min-width: 768px) {
.col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.col-lg-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}
} 
@media (max-width: 768px) {
  .col-lg-3 {
    display: none !important;
  }
  
}
.faq {
  margin-top: 5%;
  margin-bottom: 5%;
}
.faq * p {
  margin-top: 5px;
  margin-bottom: 10px;
}
.faq * h3 {
  margin-top: 25px;
  margin-bottom: 3px;
}
hr.short {
  width: 33%;
}
.li > a, li > a:visited {
  color: #fff;
  text-decoration: none
  
}
.li > a:hover {
  color: rgb(151, 151, 151);
  text-decoration: none;
  border-radius: 15px;
}

.notice--info {
  margin: 2em 0 !important;
  padding: 1.2em;
  font-size: .75em !important;
  text-indent: initial;
  font-family: SFPro-Rounded-Bold !important;
  border-radius: 20px;
  background-color: rgb(56, 56, 56);
}
.notice--info p {
  top: 0;
  font-size: 1.35em;
}
.notice--info img {
  border: rgb(41, 41, 41) solid 4.75px;
  border-radius: 5px;
}
@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
@media (max-width: 1236px) {
  .toolbar {
    padding-bottom: .175em;
  }
}
.toolbar {
  text-align: center;
  border-top: 1.5px solid rgb(39, 40, 44);
  background-color: rgb(17, 17, 17);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: SFPro-Rounded-Bold !important;
  z-index: 9999;
  
}
.toolbar .toolbar-item {
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1vw;
  width: fit-content;
}
.toolbar * a {
  color: #f2f2f2 !important;
}
a p, a i {
  display: block;
  color: #f2f2f2 !important;
}
a p {
  margin: 0
}
.ti {
  font-size: 1.5vw;
}
@media (max-width: 892px) {
  .ti {
    font-size: 3vw;
  }
  .toolbar .toolbar-item {
    font-size: 2vw;
  }
  body {
    padding-bottom: 5vw;
  }
}
@media (max-width: 592px) {
  .ti {
    font-size: 4.4vw;
  }
  .toolbar .toolbar-item {
    font-size: 3.6vw;
  }
  body {
    padding-bottom: 7.7vw;
  }
}
@media (max-width: 386px) {
  .ti {
    font-size: 6vw;
  }
  .toolbar .toolbar-item {
    font-size: 3.85w;
  }
  body {
    padding-bottom: 10vw;
  }
}