@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
a.step {
 color: azure; 
}
.navbar {
  background-color: rgb(24, 26, 29);
}
.col-lg-6 {
	margin-bottom: 7%;
}

body { 
  padding-top: 0px;
}

html, body {
  color: azure;
  background-color: #2E3440;
}

li {
  margin: 2px 0;
}

.card {
  color: azure;
  background-color: #2E3440;
  border: 1px solid azure;
}

hr {
  border-top: 1px solid azure;
}

code {
  padding: 1px;
  background: #272c36;
  border: 1px solid lightslategrey;
  border-radius: 4px;
  color: rgb(221, 225, 230);
  white-space: nowrap;
}

.content-table {
  padding: 5px;
  color: azure;
  background: #272c36;
  border: 1px solid rgb(22, 22, 22);
  border-radius: 4px;
  font-weight: bold;
}

.content-table-title {
  font-weight: bold;
  font-size: 150%;
}

.content-table-hr {
  border-top: 1px solid rgb(22, 22, 22);
}

.a-table {
  color: #b8d2df;
  text-decoration: underline;
}

.a-table:hover {
  color: #b8d2df;
  text-decoration: initial;
}

.a-table:visited {
  color: #8a9ea7;
  text-decoration: underline;
}

.a-table-section {
  display: block;
  padding-left: 15px;
}

.p-box {
  margin: 2em 0;
  padding: 1em;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  background-color: #485e7b; 
  font-size: 1em !important;
  font-weight: bold;
  text-indent: initial;
  box-shadow: 0 2px 2px rgba(94,129,172,0.25) !important;
  color: #D8DEE9 !important;
  border-radius: 4px;
}

.p-box > a {
  color: #7694b8;
  text-decoration: underline;
}


.p-box > a:hover {
  color: #7694b8;
  text-decoration: initial;
}

.box-a {
  color: #d72828;
  text-decoration: underline;
}

.box-a:hover {
  color: #d72828;
  text-decoration: initial;
}

.h1-page-title {
  display: block;
  font-size: 3.5em;
  font-weight: bold;
}

.alert-danger {
  font-weight: bold;
  z-index: 0;
}

.info-box {
  margin: 2em 0;
  padding: 1em;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  background-color: #485e7b; 
  font-size: 1em !important;
  font-weight: bold;
  text-indent: initial;
  box-shadow: 0 2px 2px rgba(94,129,172,0.25) !important;
  color: #D8DEE9 !important;
  border-radius: 4px;
}



img:hover {
  color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1);
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari and Chrome */
}

div#olli span#normal {
  display: inline;
}

div#olli:hover span#normal {
  display: none;
}

div#olli span#other {
  display: none;
}

div#olli:hover span#other {
  display: inline;
}
	.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.sidebar__right {
  margin-bottom: 1em;
  margin-top: 15%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
.toc {
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,"Microsoft Yahei","微软雅黑",STXihei,"华文细黑",sans-serif;
  color: #7a8288;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #2E3440;
  border: 1px solid #585d66;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}
.toc .nav__title {
  color: #fff;
  font-size: .75em;
  background: #88C0D0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav__title {
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,"Microsoft Yahei","微软雅黑",STXihei,"华文细黑",sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: 1rem;
}
nav ul {
  margin: 0;
  padding: 0;
}
p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.toc__menu>li:last-child a {
  border-bottom: none;
}
.toc__menu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #D8DEE9;
  font-size: .6875em;
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 1px solid #585d66;
}
a:visited {
  color: #8a9ea7;
}
nav a {
  text-decoration: none;
}


.alert {
  background-color: #40afd4;
  color: #fff;
  font-weight: bold;
  font-size: 1em !important;
  padding: 1em;
  margin: 2em 0;
  text-indent: initial;
  border-radius: 4px;
}

.alert-dark {
  background-color: rgb(39, 39, 39);
  color: #fff;
  font-weight: bold;
  font-size: 1em !important;
  padding: 1em;
  margin: 2em 0;
  text-indent: initial;
  border-radius: 4px;
}
.alert-gray {
  background-color: #7D8189;
  color: #fff;
  font-weight: bold;
  font-size: 1em !important;
  padding: 1em;
  margin: 2em 0;
  text-indent: initial;
  border-radius: 4px;
}

.alert-success {
  background-color: #3a8f49;
  color: #fff;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-weight: bold;
  font-size: 1em !important;
  padding: 1em;
  margin: 2em 0;
  text-indent: initial;
  border-radius: 4px; 
}

.alert-caution {
  background-color: #c7b723;
  color: #000;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-weight: bold;
  font-size: 1em !important;
  padding: 1em;
  margin: 2em 0;
  text-indent: initial;
  border-radius: 4px; 
}

.alert-box {
  margin: 2em 0;
  padding: 1em;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  background-color: #d65858; 
  font-size: 1em !important;
  font-weight: bold;
  text-indent: initial;
  box-shadow: 0 2px 2px rgba(94,129,172,0.25) !important;
  color: #fff!important;
  border-radius: 4px;
}

/* Visited Link Colors */

.alert * a:visited, .alert-box * a:visited, .alert-success * a:visited {
  color: azure !important;
}
.alert * a:hover, .alert-box * a:hover, .alert-success * a:hover {
  color: rgb(102, 102, 102) !important;
  outline: none;
  text-decoration: none;
}

a {
  color: azure;
}
a:visited {
  color: azure;
}
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, #goog-wm-sb, .highlight, .archive__item-teaser {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.displayTooSmall {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}
a.jb-link {
  color: #2E3440;
}
a.jb-link:hover {
  color: rgb(18, 21, 26);
  text-decoration: none;
}
a.dark-link {
  color: rgb(185, 185, 185)
}
a.dark-link:hover {
  color: rgb(104, 104, 104);
}
.guide-link, .guide-link:visited {
  color: rgb(204, 204, 204) !important;
}
.guide-link:hover {
  color: rgb(102, 102, 102) !important;
}

table {
  margin-bottom: 15% !important;
}


.tg  {border-collapse:collapse;border-spacing:0;text-align: center;  margin: auto; padding: 5%;}
                        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                        .tg .tg-0lax{text-align:left;vertical-align:top}
